@model Data.Model.Entities.Employee

@{
    ViewBag.Title = "Edit";
    ViewBag.Current = "Employees";
}

<div class="col-lg-6 col-xs-12">
    <div class="box-content card white2">
        <h4 class="box-title">Sửa nhân viên</h4>
        <div class="card-content">
            @using (Html.BeginForm("Edit", "Employees", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @{ Html.RenderPartial("_Form", Model); }

                    <button type="submit" class="btn btn-primary btn-sm waves-effect waves-light pull-right">Lưu</button>
                    <br>
                    <p></p>
                </div>
            }
        </div>
    </div>
</div>