@model Data.Model.Entities.Category

@{
    ViewBag.Title = "Edit";
    ViewBag.Current = "Categories";
}

<div class="col-lg-6 col-xs-12">
    <div class="box-content card white2">
        <h4 class="box-title">Sửa nhóm món ăn</h4>
        <div class="card-content">
            @using (Html.BeginForm("Edit", "Categories", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @{ Html.RenderPartial("_Form", Model); }

                </div>
                        }
        </div>
    </div>
</div>