@{
    ViewBag.Title = "Dashboard";
    ViewBag.Current = "Dashboard";
}
    <script src="~/Scripts/Chart.js"></script>
<div class="">


    <div class="row">
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body stt-panel-dish">
                    <i class="fa fa-cutlery" aria-hidden="true"></i> <span id="countDish"></span>
                </div>
                <div class="panel-footer stt-panel-dish">Món Ăn</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body stt-panel-promotion">
                    <i class="fa fa-bullhorn" aria-hidden="true"></i> <span id="countPromotion"></span>
                </div>
                <div class="panel-footer stt-panel-promotion">Khuyến Mãi</div>
            </div>
        </div>

        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-body stt-panel-order">
                    <i class="fa fa-file-o" aria-hidden="true"></i> <span id="countOrder"></span>
                </div>
                <div class="panel-footer stt-panel-order">Order Hôm Nay</div>

            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <label for="BanAnChart">
                Bàn Ăn <br />
                <canvas id="BanAnChart" class="pie-chart"></canvas>
            </label>
        </div>

        <div class="col-md-6">
            <label for="KhachHangChart">
                Khách Hàng <br />
                <canvas id="KhachHangChart" class="pie-chart"></canvas>
            </label>
        </div>
            <div class="col-md-4">
                <label for="KhachHangChart">
                    Khách Hàng <br/>
                    <canvas id="KhachHangChart" class="pie-chart"></canvas>
                </label>
            </div>
            </div>

        <div class="row">
            <div class="col-md-12">
                <canvas id="OrderByDayChart"></canvas>
                <canvas id="OrderByMonthChart"></canvas>
            </div>
        </div>
    </div>
</div>
<link href="~/Assets/styles/dashboard.css" rel="stylesheet" />
<script src="~/Assets/scripts/dashboard.js"></script>
