@model IEnumerable<Data.Model.Entities.Order>

@{
    ViewBag.Title = "Index";
    ViewBag.Current = "Reservations";
}

<h2>Index</h2>

<p>
    <a href="/Admin/Orders/Create">Create New</a>
</p>

<div class="row">
@foreach (var item in Model)
{
    <div class="col-md-3">
        <div class="panel panel-primary">
            <div class="panel-heading">Panel heading without title</div>
            <div class="panel-body">
                <h4 class="card-title">@item.Table.Code</h4>
                <h6 class="card-subtitle mb-2 text-muted">@item.Total</h6>
                <p class="card-text">@item.OrderDishes.Count dishes</p>
            </div>
            <div class="panel-footer">
                <a href="#" class="card-link">Card link</a>
                <a href="#" class="card-link">Another link</a>
            </div>
        </div>
    </div>
    
    
}
</div>


