<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Home</title>
    <link rel="stylesheet" href="/Assets/styles/style.min.css">

    <!-- Waves Effect -->
    <link rel="stylesheet" href="/Assets/plugin/waves/waves.min.css">

</head>

<body>

    <div id="single-wrapper">
       @RenderBody();
    </div><!--/#single-wrapper -->
    
    <script src="/Assets/scripts/jquery.min.js"></script>
    <script src="/Assets/scripts/modernizr.min.js"></script>
    <script src="/Assets/plugin/bootstrap/js/bootstrap.min.js"></script>
    <script src="/Assets/plugin/nprogress/nprogress.js"></script>
    <script src="/Assets/plugin/waves/waves.min.js"></script>

    <script src="/Assets/scripts/main.min.js"></script>
</body>
</html>