@model Data.Model.Entities.Order

@{
    ViewBag.Title = "Create";
}

<div class="col-sm-8 col-md-8  page-left ">
    <div class="row box-content">
        @foreach(var category in ViewBag.Categories)
        {
            <button
                class="btn btn-primary btn-category"
                type="button"
                id="@category.ID"
                link="/Categories/GetSubCategories/@category.ID"
                onclick="GetSubCategories(@category.ID)">
                @category.Name
            </button>
        }

    </div>

    <div class="">
        <div class="row">
          <div class="col-sm-3">
          </div>
          <div class="col-sm-6 col-sm-offset-3 box-content">
            <div class="form-group has-feedback">
                <input
                  type="text"
                  class="form-control search-dishes"
                  placeholder="Tìm món ăn"
                />
                <i class="glyphicon glyphicon-search form-control-feedback"></i>
            </div>
          </div>
        </div>

        <div class="row">
            <div class="col-sm-3 col-md-3 sub-categories box-content">
            </div>
            <div class="col-sm-9 col-md-9 dishes box-content">
            </div>
        </div>
    </div>
</div>

<div class="col-sm-4 col-md-4 box-content page-right">
  <div class="orderItems">

  </div>
  <div class="sub-sum">

  </div>

</div>

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

<script src="/Assets/scripts/common.js"></script>
