@model Data.Model.Entities.SubCategory

@{
    ViewBag.Title = "Create";
    ViewBag.Current = "SubCategories";
}

<div class="col-lg-6 col-xs-12">
    <div class="box-content card white2">
        <h4 class="box-title">Tạo nhóm con</h4>
        <div class="card-content">
            @using (Html.BeginForm("Create", "SubCategories", null, FormMethod.Post,
                                          new { enctype = "multipart/form-data" }))
            {
                @Html.AntiForgeryToken()

                <div>
                    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

                    @{ Html.RenderPartial("_Form", Model); }

                </div>
                        }
        </div>
    </div>
</div>
